@import '../utils/breakpoints';

.root {
  padding: 0 1rem;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    margin: 0 8vw;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 16vw;
  }
}
