$grid-breakpoints: (
  sm: 600px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px,
);

@mixin media-breakpoint-up($key, $breakpoints: $grid-breakpoints) {
  @media (min-width: map-get($breakpoints, $key)) {
    @content;
  }
}
